<form [formGroup]="subscriber" (ngSubmit)="submitForm(subscriber)">
  <mat-card-content>
    <mat-input-container class="full-width">
      <input type="text" matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="subscriber.controls['name'].invalid">You must enter name</mat-error>

    </mat-input-container>
    <mat-input-container class="full-width">
      <input 
        type="password" 
        matInput 
        placeholder="Password" 
        formControlName="password" required>
      <mat-error *ngIf="subscriber.controls['password'].errors">{{ getPasswordErrorMessage(subscriber.controls['password']) }}</mat-error>

    </mat-input-container>
    <mat-input-container class="full-width">
      <input 
        type="password" 
        matInput 
        placeholder="Verify Password"
        [errorStateMatcher]="customErrorStateMatcher"
        formControlName="password_verify" required>
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="subscriber.controls['password_verify'].invalid">{{ getPasswordErrorMessage(subscriber.controls['password_verify']) }}</mat-error>
    </mat-input-container>

    <mat-input-container class="full-width">
      <input type="text" matInput placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="subscriber.controls['email'].invalid">{{ getEmailErrorMessage(subscriber.controls['email']) }}</mat-error>

    </mat-input-container>

    <mat-input-container>
      <mat-select placeholder="選擇訂閱項目" formControlName="channelControl" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let channel of channels" [value]="channel">
          {{ channel.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="subscriber.controls['channelControl'].hasError('required')">Please choose a channel</mat-error>
      <mat-hint>{{ subscriber.controls['channelControl'].value?.description }}</mat-hint>
    </mat-input-container>

  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-button [disabled]="!subscriber.valid">Subscribe!</button>
    <button type="button" mat-button (click)="resetForm()">Cancel</button>
  </mat-card-actions>
</form>
